<header class="header">
  <div class="container">
    <div class="header-top">
      <a href="#" class="btn-menu">
        <span></span>
        <span></span>
        <span></span>
      </a>
      <a href="index.html" class="logo">kalli</a>
      <button type="button" class="btn-search">
        <svg class="svg-icon icon-search">
          <use xlink:href="#search"></use>
        </svg>
      </button>
      <a href="#" class="avatar">
        <img src="images/demo/avatar.jpg" alt="" class="avatar__img rounded">
      </a>
    </div>
  </div>
</header>