<section class="intro">
  <!-- Slider main container -->
  <div class="swiper-container js-slider">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for item in slider %}
      <div class="swiper-slide slide">
        <div class="container">

          <div class="slide__text">
            <div class="slide__label">New in —</div>
            <div class="slide__title">{{ item.title }}</div>
            <div class="slide__buy">
              <a href="#" class="btn-buy">Buy Now</a>
            </div>
          </div>

          <div class="slide__pictures">
            <div class="slide__circle  bg-{{ item.color }}"></div>
            <div class="slide__picture left">
              <img src="{{ item.picture1 }}" class="slide__img swing is-animated is-infinite" alt="">
            </div>
            <div class="slide__picture right">
              <img src="{{ item.picture2 }}" class="slide__img swingReverse is-animated is-infinite" alt="">
            </div>
          </div>
          
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="container">
      <div class="intro__navigation">
        <div class="swiper-button-prev">
            <svg class="svg-icon icon-left-arrow slideLeft">
              <use xlink:href="#left-arrow"></use>
            </svg>
          </div>
          <div class="swiper-button-next">
            <svg class="svg-icon icon-right-arrow slideRight">
              <use xlink:href="#right-arrow"></use>
            </svg>
          </div>
          <div class="swiper-pagination">
            <span class="swiper-pagination-current">
              <span class="swiper-pagination-current__inner flip">
                <span data-swiper-page-current></span>
                <span data-swiper-page-prev></span>
              </span>
            </span> 
            <span class="swiper-pagination-separator">—</span>
            <span class="swiper-pagination-total" data-swiper-page-total></span>
          </div>
      </div>
    </div>

  </div>

  {% include './_recommend.html' %}

</section>