.btn-search {
  background: none;
  border: 0;
  cursor: pointer;
  fill: $gray-500;
  font-size: 24px;

  &:focus {
    outline: none;
  }
}

.btn-buy {
  color: $body-color;
  font-weight: font-weight(semibold);
  border-bottom: 1px solid;

  &:hover {
    text-decoration: none;
  }
}

.btn-menu {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  padding: 0.5rem 0;
  margin-right: 2rem;

  &:hover {
    text-decoration: none;
  }

  .dot {
    float: left;
    margin-right: 4px;
    width: 4px;
    height: 4px;
    background-color: $body-color;
    position: relative;

    transition: background-color ease 0.5s;

    &:last-child {
      margin-right: 0;
    }

    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 4px;
      height: 4px;
      background-color: $body-color;
      transition: opacity ease 0.5s;
    }

    &:before {
      left: 0;
      top: -8px;
    }

    &:after {
      right: 0;
      top: 8px;
    }
  }

  &.is-active {
    .dot {
      &:last-child,
      &:first-child {
        background-color: transparent;
      }
      &:nth-child(2) {
        &:before,
        &:after{
          opacity: 0;
        }
      }
    }
  }
}