.header {
  padding: 72px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.header-top {
  display: flex;
  align-items: center;
  flex-direction: row;
  .btn-search{
    margin-left: auto;
  }
  .avatar{
    margin-left: 32px;
  }
}

.logo{
  font-weight: 700;
  font-size: 30px;
  color: $body-color;
  text-decoration: none;
  text-transform: uppercase;
  &:hover{
    text-decoration: none;
    color: $body-color;
  }
}