.intro{
  &__navigation{
    position: absolute;
    bottom: 40px;
    z-index: 10;
  }
  // custom swiper
  .swiper-container{
    height: 100%;
  }
  .swiper-button-prev,
  .swiper-button-next{
    float: left;
    height: 48px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color ease 0.25s;
    overflow: hidden;
    &:hover{
      .svg-icon{
        animation-duration: 0.6s;
        animation-timing-function: ease-in-out;
      }
    }
    &:hover{
      background-color: $body-color;
      .svg-icon{
        fill: $white;
      }
    }
    .svg-icon{
      font-size: 24px;
      transition: all ease 0.25s;
    }
  }
  .swiper-button-prev{
    background-color: $body-color;
    &:hover{
      .svg-icon{
        animation-name: slideLeft;
      }
    }
    &:hover{
      background-color: $gray-300;
      .svg-icon{
        fill: $body-color;
      }
    }
    .svg-icon{
      fill: $white;
    }
  }
  .swiper-button-next{
    margin-left: 1px;
    background-color: $white;
    &:hover{
      .svg-icon{
        animation-name: slideRight;
      }
    }
    .svg-icon{
      fill: $body-color;
    }
  }
  // paginations
  .swiper-pagination{
    float: left;
    height: 48px;
    display: flex;
    align-items: center;
    margin-left: 40px;
    font-size: 14px;
    font-weight: font-weight(semibold);
    &-current{
      overflow: hidden;
      height: 20px;
      &__inner{
        overflow: hidden;
        display: block;
        > span{
          display: block;
        }
      }
    }
    &-separator{
      display: inline-block;
      vertical-align: middle;
      margin: 0 3px;
    }

    .is-changing{
      animation-name: flip;
      animation-duration: 0.3s;
      // animation-direction: reverse;
      // animation-fill-mode: forwards; 
      animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }
}

@keyframes flip{
  from{
    // transform: translateY(-20px);
  }
  to{
    transform: translateY(-20px);
  }
}

@keyframes slideRight{
	50%{
		transform: translateX(100px);
	}
	51%{
		opacity: 0;
		transform: translateX(-100px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes slideLeft{
	50%{
		transform: translateX(-100px);
	}
	51%{
		opacity: 0;
		transform: translateX(100px);
	}
	100%{
		opacity: 1;
		transform: translateX(0);
	}
}