.text-primary{
  color: $primary;
}
.text-secondary{
  color: $secondary;
}
.text-danger{
  color: $danger;
}
.text-success{
  color: $success;
}
.text-warning{
  color: $warning;
}
.text-muted{
  color: $muted;
}

.bg{
  &-orange{
    background-color: #ffbb68;
  }
  &-cian{
    background-color: #7dcfd1;
  }
}