<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue JS</title>
</head>

<body>

  <div id="app">

    <!-- <h2 v-if="isVisible">I am visible!</h2>
  <h2 v-else>No I am not</h2> -->
    <!-- <button @click="isVisible = !isVisible">Toggle</button> -->

    <!-- analog switch -->
    <!-- <h2 v-if="type === 'a'">A</h2>
  <h2 v-else-if="type === 'b'">B</h2>
  <h2 v-else-if="type === 'c'">C</h2>
  <h2 v-else>not match</h2>
  <hr>
  <input type="text" v-model="type"> -->

    <template v-if="isVisible">
      <h2>I am title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, provident.</p>
    </template>

    <template v-else>
      <h2 style="color: red">I am title</h2>
      <p style="color: blue">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, provident.</p>
    </template>

    <h3 v-show="isVisible">h3 title</h3>
    <h3 v-show="!isVisible">h3 title hide</h3>

  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: {
        isVisible: true,
        // type: 'a'
      },
      computed: {

      },
      methods: {

      }
    })
  </script>
</body>

</html>