.Car {
  margin-bottom: 10px;
  display: block;
  padding: 10px;
  transition: border, box-shadow 0.3s;
}
.input{
  outline: none;
}
.input.green{
  border: 1px solid green;
}
.input.red{
  border: 1px solid red;
}
.input.bold{
  border-width: 2px;
  font-weight: bold;
}